  <!-- About us heading-->
  <section id="about_header" parallax-window data-parallax="scroll" data-image-src="/images/aboutus.jpg" data-speed="0.4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="h4-type3">ABOUT US</h4>
          <div class="border-bar4 margin-t20 "></div>
        </div>
      </div>
    </div>
  </section>
  <!-- About us heading end-->

  <!-- what we do  -->
  <section id="whatwedo" class="padding-tb100">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="h4-type2">What We Do</h4>
          <div class="border-bar2 margin-t20 "></div>
          <p class="p-type-3 color-grey margin-t20">At GreenWave, we provides cutting-edge telecom and digital media solutions, including fiber optic technology, telecom and safety engineering, mobile site management, mobile site analysis, hazard removal, software engineering, hardware and networking, database management, digital marketing and Edusoft solutions. Telecom industry is not just about core communication services. Modern telcos require a whole array of solutions that meet the ever-growing demands of the tech-savvy customers.<br> We are always ready to serve.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- what we do  end-->

  <!-- features -->
  <section id="features" class="padding-tb100 bg-grey">
    <div class="container">
      <div class="row ">
        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center margin-tb10">
          <span class="ti-paint-bucket icon-type1"></span>
          <h4 class="h4-type1 margin-t10">Fiber Optic Technology</h4>
          <p class="p-type-4 color-grey margin-t10">Currently, network providers rely heavily on fiber optic cables to transport data as opposed to the slower-transmitting satellites...
          </p>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center margin-tb10">
          <span class="ti-desktop icon-type1"></span>
          <h4 class="h4-type1 margin-t10">Safety Engineering</h4>
          <p class="p-type-4 color-grey margin-t10">Our Analysis techniques in two categories: qualitative and quantitative methods. Both approaches share the goal of...
          </p>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center margin-tb10">
          <span class="ti-pencil-alt icon-type1"></span>
          <h4 class="h4-type1 margin-t10">Tower site management</h4>
          <p class="p-type-4 color-grey margin-t10">We have a team of expert in tower site analysis and management. We deliver exceptional digital report on site analysis...
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- features end-->



  <!-- who we are -->
  <section id="whoweare">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 padding-tb100">
          <h4 class="h4-type2 margin-t10">Who We Are</h4>
          <div class="border-bar margin-t20 "></div>
          <p class="p-type-5 color-grey margin-t20">We are a leading professionals that serves a broad mix of private, public sector institutions. We help our clients make significant and lasting improvements to their performance and realize their most important goals. 
            We engage in providing high end enterprise solution in the field of Information Technology. The company was co-founded by four liked minded professionals in the year 2017 with a very small team. Today, the company is successful in terms of steadfast growth and excellent which is focused on values, innovation, transparency and integrity.
          </p>
          <a href="#" class="btn login-btn">GET MORE INSIGHT</a>
        </div>
        <div class="col-md-6 col-xs-12 parallax-window" data-parallax="scroll" data-image-src="/images/whoweare.jpg" data-speed="0.4">
        </div>
      </div>
    </div>
  </section>
  <!-- who we are end-->

  <!-- clients -->
  <section id="clients" class="padding-tb50">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="clients">
            <ul class="slides text-center">
              <li>
                <img src="/images/brands/1.png" alt="">
              </li>
              <li>
                <img src="/images/brands/2.png" alt="">
              </li>
              <li>
                <img src="/images/brands/3.png" alt="">
              </li>
              <li>
                <img src="/images/brands/4.png" alt="">
              </li>
              <li>
                <img src="/images/brands/1.png" alt="">
              </li>
              <li>
                <img src="/images/brands/2.png" alt="">
              </li>
              <li>
                <img src="/images/brands/3.png" alt="">
              </li>
              <li>
                <img src="/images/brands/4.png" alt="">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- clients end -->