  <!-- Contact us heading-->
  <section id="contact_header" parallax-window data-parallax="scroll" data-image-src="/images/contact.jpg" data-speed="0.4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="h4-type3">CONTACT</h4>
          <div class="border-bar4 margin-t20 "></div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact us heading end-->

  <!-- enquiry form -->
  <section id="contact_form">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 get_in_touch_form">
          <h3>Get In Touch</h3>
          <p>
            Greenwave Telecom Technology warmly welcome your messages. We have highly trained technical team, that will support all your problems within 24 hours.
          </p>
          {{#if error_msg}}
              <div class="alert alert-warning" role="alert">
                  {{error_msg}}
              </div>
          {{/if}}
          {{#if success_msg}}
              <div class="alert alert-success" role="alert">
                  {{success_msg}}
              </div>
          {{/if}}
          <form action="/route/contact" method="post" >
            <input type="text" name="fullname" placeholder="Your Name" class="input_text" required>
            <input type="email" name="email" placeholder="Your Email" class="input_text" required>
            <input type="phone" name="mobile" placeholder="Your Mobile No." class="input_text" required>
            <input type="text" name="subject" placeholder="Your Subject." class="input_text" required>
            <textarea name="message" placeholder="Your Message" class="input_textarea" required></textarea>
            <button type="submit" class="input_submit">Submit</button>
          </form>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 margin-t30">
          <div class="col-md-12 col-sm-12 col-xs-12 contact_detail row">
            <div class=" col-md-3 col-xs-12 text-center ">
              <span class="icon ti-location-pin"></span>
            </div>

            <p class="col-md-9 col-xs-12">Ashaley Botwe <br>(Abudankede Bus Stop),<br> East Legon, Accra.</p>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12 contact_detail row">
            <div class=" col-md-3 col-xs-12 text-center">
              <span class="icon ti-email"></span>
            </div>

            <p class="col-md-9 col-xs-12">contact@greenwavetelco.com</p>
          </div>

          <div class="col-md-12 col-sm-12 col-xs-12 contact_detail row">
            <div class=" col-md-3 col-xs-12 text-center">
              <span class="icon ti-headphone"></span>
            </div>

            <p class="col-md-9 col-xs-12">+233 552 6018 23</p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- enquiry form end -->

  <!-- google map -->
  <section id="googlemap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.2220016104193!2d-0.13068882528931847!3d5.681018895873727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf8318e19c5d7d%3A0x5359b87fff92c844!2sUnnamed+Road%2C+Madina!5e0!3m2!1sen!2sgh!4v1518581981250" height="400" frameborder="0" style="border:0"  class="map-frame"></iframe>
  </section>
  <!-- google map end -->