
  <!-- flexslider  -->
  <section id="slider">
    <div class="flexslider flexslide-container">

      <ul class="slides text-center" data-parallax="scroll" data-speed="0.4">

        <li style="background-image: url('images/slides/slide1.jpg');">
          <div class="flex-caption fadeInUp animated container">
            <p class="p-type-1"><img class="is_logo" src="images/logo.svg" alt="logo"></p>
            <h5 class="h5-type-1 margin-t20">Clean &amp; Modern Technology</h5>
            <div class="border-bar margin-t20 mgrn-middle"></div>
            <p class="p-type-2 margin-t20">Greenwave Telecom Company is a digital company providing core communication and technology services.<br>
               Modern telcos require a whole array of solutions that meet the ever-growing demands of the tech-savvy customers.<br>
               Come joins on the train of success, together we build a successfull Business.
              </p>
            <a href="/route/apply" class="btn login-btn">Apply Now!</a>
          </div>
        </li>

        <li style="background-image: url('images/slides/slide2.jpg');">
          <div class="flex-caption fadeInUp animated container">
            <p class="p-type-1"><img class="is_logo"  src="images/logo.svg" alt="logo"></p>
            <h5 class="h5-type-1 margin-t20">Clean &amp; Modern Design</h5>
            <div class="border-bar margin-t20 mgrn-middle"></div>
            <p class="p-type-2 margin-t20">Greenwave Telecom industry is not just about core communication services.<br>
              Modern telcos require a whole array of solutions that meet the <br>ever-growing demands of the tech-savvy customers.<br>
              Come joins on the train of success, together we build a successfull Business.
            </p>
            <a href="/route/apply" class="btn login-btn">Apply Now!</a>
          </div>
        </li>

        <li style="background-image: url('images/slides/slide3.jpg');">
          <div class="flex-caption fadeInUp animated container">
            <p class="p-type-1"><img class="is_logo"  src="images/logo.svg" alt="logo"></p>
            <h5 class="h5-type-1 margin-t20">Clean &amp; Modern Design</h5>
            <div class="border-bar margin-t20 mgrn-middle"></div>
            <p class="p-type-2 margin-t20">Greenwave Telecom industry is not just about core communication services.<br>
              Modern telcos require a whole array of solutions that meet the <br>ever-growing demands of the tech-savvy customers.<br>
              Come joins on the train of success, together we build a successfull Business.
            </p>
            <a href="/route/apply" class="btn login-btn">Apply Now!</a>
          </div>
        </li>

      </ul>
    </div>
  </section>
  <!-- flexslider end -->

  <!-- what we do  -->
  <section id="whatwedo" class="padding-tb100">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h4 class="h4-type2">What We Do</h4>
          <div class="border-bar2 margin-t20 "></div>
          <p class="p-type-3 color-grey margin-t20">At GreenWave, we provides cutting-edge telecom and digital media solutions, including fiber optic technology, telecom and safety engineering, mobile site management, mobile site analysis, hazard removal, software engineering, hardware and networking, database management, digital marketing and Edusoft solutions. Telecom industry is not just about core communication services. Modern telcos require a whole array of solutions that meet the ever-growing demands of the tech-savvy customers.<br> We are always ready to serve.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- what we do  end-->

  <!-- features -->
  <section id="features" class="padding-tb100 bg-grey">
    <div class="container">
      <div class="row ">
        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center margin-tb10">
          <span class="ti-paint-bucket icon-type1"></span>
          <h4 class="h4-type1 margin-t10">Fiber Optic Technology</h4>
          <p class="p-type-4 color-grey margin-t10">Currently, network providers rely heavily on fiber optic cables to transport data as opposed to the slower-transmitting satellites...
          </p>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center margin-tb10">
          <span class="ti-desktop icon-type1"></span>
          <h4 class="h4-type1 margin-t10">Safety Engineering</h4>
          <p class="p-type-4 color-grey margin-t10">Our Analysis techniques in two categories: qualitative and quantitative methods. Both approaches share the goal of...
          </p>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center margin-tb10">
          <span class="ti-pencil-alt icon-type1"></span>
          <h4 class="h4-type1 margin-t10">Tower site management</h4>
          <p class="p-type-4 color-grey margin-t10">We have a team of expert in tower site analysis and management. We deliver exceptional digital report on site analysis...
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- features end-->



  <!-- who we are -->
  <section id="whoweare">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 padding-tb100">
          <h4 class="h4-type2 margin-t10">Who We Are</h4>
          <div class="border-bar margin-t20"></div>
          <p class="p-type-5 color-grey margin-t20">We are a leading professionals that serves a broad mix of private, public sector institutions. We help our clients make significant and lasting improvements to their performance and realize their most important goals. 
            We engage in providing high end enterprise solution in the field of Information Technology. The company was co-founded by four liked minded professionals in the year 2017 with a very small team. Today, the company is successful in terms of steadfast growth and excellent which is focused on values, innovation, transparency and integrity.
          </p>
          <a href="#" class="btn login-btn">GET STARTED</a>
        </div>
        <div class="col-md-6 col-xs-12 parallax-window" data-parallax="scroll" data-image-src="images/whoweare.jpg" data-speed="0.4">
        </div>
      </div>
    </div>
  </section>
  <!-- who we are end-->

  <!-- services -->
  <section id="services" class="padding-tb100 bg-grey">
    <div class="container">

      <div class="row">

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-star icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Digital Media Solution</h4>
            <p class="p-type-4 color-grey margin-t10">GrenWave provide a premier performance marketing digital solution that uses actionable data, insightful analytics and proprietary...
            </p>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-star icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Fiber Optic Technology</h4>
            <p class="p-type-4 color-grey margin-t10">Currently, network providers rely heavily on fiber optic cables to transport data as opposed to the slower-transmitting satellites...
            </p>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-settings icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Safety Engineering</h4>
            <p class="p-type-4 color-grey margin-t10">Our Analysis techniques in two categories: qualitative and quantitative methods. Both approaches share the goal of...
            </p>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-medall icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Tower site management</h4>
            <p class="p-type-4 color-grey margin-t10">We have a team of expert in tower site analysis and management. We deliver exceptional digital report on site analysis... 
            </p>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-announcement icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Software Engineering</h4>
            <p class="p-type-4 color-grey margin-t10">We apply a systematic and quantifiable approach to the development, operation, and maintenance of software.
            </p>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-location-pin icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Hardware and networking</h4>
            <p class="p-type-4 color-grey margin-t10">Hardware and networking professionals deal with various hardware components like keyboard, laptops, mouse, printer...
            </p>
          </div>
        </div>


        <div class="col-md-12 margin-t50">
          <div class="is_centered">
              <a href="#" class="btn btn-primary btn-block">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services End -->

 <!-- portfolio -->
 <section id="portfolio" class="padding-tb100">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h4 class="h4-type2 text-center">Portfolio</h4>
          <div class="border-bar2 margin-t20"></div>
        </div>
      </div>

      <div class="row margin-t50">

        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="images/portfolio/green/item47.jpg" data-lightbox="portfolio">
              <img src="images/portfolio/green/item47.jpg" alt="">
            </a>
          </div>
        </div>


        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="images/portfolio/green/item5.jpg" data-lightbox="portfolio">
              <img src="images/portfolio/green/item5.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="images/portfolio/green/item6.jpg" data-lightbox="portfolio">
              <img src="images/portfolio/green/item6.jpg" alt="">
            </a>
          </div>
        </div>

      </div>
      
      <div class="col-md-12 margin-t50">
        <div class="is_centered">
            <a href="#" class="btn btn-primary btn-block">Find Out More!</a>
        </div>
      </div>

    </div>
 </section>
 <!-- portfolio end-->

  <!-- testimonial -->
  <section id="testimonial" class="padding-tb100 parallax-testimonial" data-parallax="scroll" data-image-src="images/parallax-back.jpg"
    data-speed="0.4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonial">
            <ul class="slides text-center">
              <li>
                <p class="testimonial-text">We help our clients make significant and lasting improvements to their performance and realize their most important goals.</p>
                <div class="border-bar3"></div>
                <h5>Hon. Michael Olusanya Olusegun</h5>
                <h6>CEO of GreenWave</h6>
              </li>
              <li>
                <p class="testimonial-text">Our is not just about core communication services. Modern telcos require a whole array of solutions that meet the ever-growing demands of the tech-savvy customers.<br> We are always ready to serve.</p>
                <div class="border-bar3"></div>
                <h5>Sam Appiah Gyatsen</h5>
                <h6>Executive Director</h6>
              </li>
              <li>
                <p class="testimonial-text">Today, the company is successful in terms of steadfast growth and excellent which is focused on values, innovation, transparency and integrity.</p>
                <div class="border-bar3"></div>
                <h5>Adam Rashid</h5>
                <h6>Director of Technology</h6>
              </li>
              <!-- <li>
                <p class="testimonial-text">Nulla nec nisi viverra, facilisis nisl in, pulvinar metus. Mauris sit amet ligula blandit, efficitur magna
                  et, hendrerit nisi. Suspendisse dapibus venenatis nunc.</p>
                <div class="border-bar3"></div>
                <h5>John Doe</h5>
                <h6>CEO of Design Company</h6>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- testimonial end-->

    <!-- clients -->
    <section id="clients" class="padding-tb50">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="clients">
              <ul class="slides text-center">
                <li>
                  <img src="images/brands/1.png" alt="">
                </li>
                <li>
                  <img src="images/brands/2.png" alt="">
                </li>
                <li>
                  <img src="images/brands/3.png" alt="">
                </li>
                <li>
                  <img src="images/brands/4.png" alt="">
                </li>
                <li>
                  <img src="images/brands/1.png" alt="">
                </li>
                <li>
                  <img src="images/brands/2.png" alt="">
                </li>
                <li>
                  <img src="images/brands/3.png" alt="">
                </li>
                <li>
                  <img src="images/brands/4.png" alt="">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- clients end -->

