  <!-- About us heading-->
  <section id="portfolio_header" parallax-window data-parallax="scroll" data-image-src="/images/portfolio.jpg" data-speed="0.4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="h4-type3">PORTFOLIO</h4>
          <div class="border-bar4 margin-t20 "></div>
        </div>
      </div>
    </div>
  </section>
  <!-- About us heading end-->

  <!-- portfolio -->
  <section id="portfolio" class="padding-tb100">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h4 class="h4-type2 text-center">Portfolio</h4>
          <div class="border-bar2 margin-t20"></div>
        </div>
      </div>

      <div class="row margin-t50">

        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="/images/portfolio/green/item1.jpg" data-lightbox="portfolio">
              <img src="/images/portfolio/green/item1.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="/images/portfolio/green/item2.jpg" data-lightbox="portfolio">
              <img src="/images/portfolio/green/item2.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="/images/portfolio/green/item3.jpg" data-lightbox="portfolio">
              <img src="/images/portfolio/green/item3.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="/images/portfolio/green/item47.jpg" data-lightbox="portfolio">
              <img src="/images/portfolio/green/item47.jpg" alt="">
            </a>
          </div>
        </div>


        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="/images/portfolio/green/item5.jpg" data-lightbox="portfolio">
              <img src="/images/portfolio/green/item5.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="col-md-4 margin-t30">
          <div class="portfolio-item">
            <a href="/images/portfolio/green/item6.jpg" data-lightbox="portfolio">
              <img src="/images/portfolio/green/item6.jpg" alt="">
            </a>
          </div>
        </div>

      </div>


    </div>
  </section>
  <!-- portfolio end-->