
  <!-- About us heading-->
  <section id="services_header" parallax-window data-parallax="scroll" data-image-src="/images/services.jpg" data-speed="0.4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h4 class="h4-type3">SERVICES</h4>
          <div class="border-bar4 margin-t20 "></div>
        </div>
      </div>
    </div>
  </section>
  <!-- About us heading end-->


  <!-- services -->
  <section id="services" class="padding-tb100 bg-grey">
    <div class="container">

      <div class="row">

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-star icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Digital Media Solution</h4>
            <p class="p-type-4 color-grey margin-t10">GreenWave provide a premier performance marketing digital solution that uses actionable data, insightful analytics and proprietary...
            </p>
            <button class="btn btn-primary toggle-modal">Read More</button>
            <span class="full-info">
                <p>GrenWave provide a premier performance marketing digital solution that uses actionable data, insightful analytics and proprietary technology to reach, engage, and acquire customers for its clients across multiple interactive platforms.</p>
            </span>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-star icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Fiber Optic Technology</h4>
            <p class="p-type-4 color-grey margin-t10">Currently, network providers rely heavily on fiber optic cables to transport data as opposed to the slower-transmitting satellites...
            </p>
            <button class="btn btn-primary toggle-modal">Read More</button>
            <span class="full-info">
              <p>Currently, network providers rely heavily on fiber optic cables to transport data as opposed to the slower-transmitting satellites.Even if the Fiber Optic Internet technology is relatively new, many businesses have found higher returns on their investment in fiber than in broadband or copper cable.
                  Let’s talk Fiber Optics.</p>
              <p> GreenWave carries a complete product matrix within this segment, fully compatible with the leading manufacturers. Our portfolio includes transceivers, media converters, xWDM solutions and fiber optic patch cords. Contact our team today!</p>
            </span>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-settings icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Safety Engineering</h4>
            <p class="p-type-4 color-grey margin-t10">Our Analysis techniques in two categories: qualitative and quantitative methods. Both approaches share the goal of...
            </p>
            <button class="btn btn-primary toggle-modal">Read More</button>
            <span class="full-info">
                <p>Our Analysis techniques in two categories: qualitative and quantitative methods. Both approaches share the goal of finding causal dependencies between a hazard on system level and failures of individual components. Qualitative approaches focus on the question "What must go wrong, such that a system hazard may occur on a job site?", while quantitative methods aim at providing estimations about probabilities, rates and/or severity of consequences.</p>
                <p>The complexity of the technical systems such as Improvements of Design and Materials, Planned Inspections, Fool-proof design, and Backup Redundancy decreases risk and increases the cost. The risk can be decreased to ALARA (as low as reasonably achievable) or ALAPA (as low as practically achievable) levels.</p>
                <p>Our safety engineers are certified and competent.</p>
            </span>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-medall icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Tower site management</h4>
            <p class="p-type-4 color-grey margin-t10">We have a team of expert in tower site analysis and management. We deliver exceptional digital report on site analysis... 
            </p>
            <button class="btn btn-primary toggle-modal">Read More</button>
            <span class="full-info">
              <p>We have a team of expert in tower site analysis and management. We deliver exceptional digital report on site analysis and tower site management. We have the experience and personnel to effectively manage and maintain tower assets.</p>
            </span>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-announcement icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Software Engineering</h4>
            <p class="p-type-4 color-grey margin-t10">We apply a systematic and quantifiable approach to the development, operation, and maintenance of software.
            </p>
            <button class="btn btn-primary toggle-modal">Read More</button>
            <span class="full-info">
              <p>We apply a systematic and quantifiable approach to the development, operation, and maintenance of software.</p>
            </span>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-location-pin icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Hardware and networking</h4>
            <p class="p-type-4 color-grey margin-t10">Hardware and networking professionals deal with various hardware components like keyboard, laptops, mouse, printer...
            </p>
            <button class="btn btn-primary toggle-modal">Read More</button>
            <span class="full-info">
              <p>Hardware and networking professionals deal with various hardware components like keyboard, laptops, mouse, printer, motherboard, processors, chips, modems, circuit boards, RAM's, external hard disks, etc.
                </p>
            </span>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-filter icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Database Management</h4>
            <p class="p-type-4 color-grey margin-t10">We provide 24x7 proactive day to day monitoring and maintenance that includes database upgrade, DR management and RAC...
            </p>
            <button class="btn btn-primary toggle-modal">Read More</button>
            <span class="full-info">
              <p>We provide 24x7 proactive day to day monitoring and maintenance that includes database upgrade, DR management and RAC management.
                  We'll manage your databases, you manage your business.</p>
            </span>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-left margin-tb10">
          <div class="col-md-3 col-xs-3 col-sm-3">
            <span class="ti-medall icon-type2"></span>
          </div>
          <div class="col-md-9 col-xs-9 col-sm-9">
            <h4 class="h4-type1 margin-t10">Digital Marketing</h4>
            <p class="p-type-4 color-grey margin-t10">Businesses leverage digital channels such as Google search, social media, email, and their websites to connect with their current and prospective customers... 
            </p>
            <button class="btn btn-primary toggle-modal">Read More</button>
            <span class="full-info">
              <p>Businesses leverage digital channels such as Google search, social media, email, and their websites to connect with their current and prospective customers. Digital marketing is an umbrella term for all of your online marketing efforts.</p>
              <p>We deploy digital technologies, mainly on the Internet, but also including mobile phones, display advertising, and any other digital medium to help your business grow fast and increase your return on investment (ROI).</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- services End -->

    <!-- testimonial -->
  <section id="testimonial" class="padding-tb100 parallax-testimonial" data-parallax="scroll" data-image-src="/images/parallax-back.jpg"
    data-speed="0.4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonial">
            <ul class="slides text-center">
              <li>
                <p class="testimonial-text">We help our clients make significant and lasting improvements to their performance and realize their most important goals.</p>
                <div class="border-bar3"></div>
                <h5>Hon. Michael Olusanya Olusegun</h5>
                <h6>CEO of GreenWave</h6>
              </li>
              <li>
                <p class="testimonial-text">Our is not just about core communication services. Modern telcos require a whole array of solutions that meet the ever-growing demands of the tech-savvy customers.<br> We are always ready to serve.</p>
                <div class="border-bar3"></div>
                <h5>Sam Appiah Gyatsen</h5>
                <h6>Executive Director</h6>
              </li>
              <li>
                <p class="testimonial-text">Today, the company is successful in terms of steadfast growth and excellent which is focused on values, innovation, transparency and integrity.</p>
                <div class="border-bar3"></div>
                <h5>Adam Rashid</h5>
                <h6>Director of Technology</h6>
              </li>
              <!-- <li>
                <p class="testimonial-text">Nulla nec nisi viverra, facilisis nisl in, pulvinar metus. Mauris sit amet ligula blandit, efficitur magna
                  et, hendrerit nisi. Suspendisse dapibus venenatis nunc.</p>
                <div class="border-bar3"></div>
                <h5>John Doe</h5>
                <h6>CEO of Design Company</h6>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial end-->

  <!-- clients -->
  <section id="clients" class="padding-tb50">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="clients">
            <ul class="slides text-center">
              <li>
                <img src="/images/brands/1.png" alt="">
              </li>
              <li>
                <img src="/images/brands/2.png" alt="">
              </li>
              <li>
                <img src="/images/brands/3.png" alt="">
              </li>
              <li>
                <img src="/images/brands/4.png" alt="">
              </li>
              <li>
                <img src="/images/brands/1.png" alt="">
              </li>
              <li>
                <img src="/images/brands/2.png" alt="">
              </li>
              <li>
                <img src="/images/brands/3.png" alt="">
              </li>
              <li>
                <img src="/images/brands/4.png" alt="">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- clients end -->


  <!-- sign in -->
  <section id="modals">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-xs-12 modal-contents">
          <p class="heading_modal"></p>
          <div class="margin-t25"></div>
          <span class="ti-close close_btn"></span>
        </div>
      </div>
    </div>
  </section>
  <!-- sign in end -->